@use 'variables';

.test-box {
  background-color: variables.$color-blue;
  color: variables.$color-text-dark;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
}

.alert-primary {
  background-color: variables.$color-blue;
  color: variables.$color-text;
  font-weight: bold;
  padding: 1.5rem;
  border-radius: 0.75rem;
  text-align: center;
  margin-top: 1rem;
}
